@mixin flexbox($flexDirection, $flexWrap, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $flexDirection;
    flex-wrap: $flexWrap;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin btn($border) {
    padding: 10px 20px;
    border: $border;
}