@mixin flexbox($flexDirection, $flexWrap, $justifyContent, $alignItems) {
    display: flex !important;
    flex-direction: $flexDirection !important;
    flex-wrap: $flexWrap !important;
    justify-content: $justifyContent !important;
    align-items: $alignItems !important;
}

@mixin btn($border) {
    padding: 10px 20px !important;
    border: $border !important;
}