@import 'colors';
@import 'fonts';
@import 'mixin';

.card {
    @include flexbox(row, wrap, space-between, center);
    border-radius: 10px;
    width: 30%;
    margin: 2rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    img {
        max-width: 100%;
        min-width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: auto;
    }

    h3 {
        text-align: start !important;
        width: 100%;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 500;
    }

    .card-footer {
        width: 100%;
        @include flexbox(row, wrap, space-between, center);
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        font-family: $inter;

        div {
            @include flexbox(row, wrap, flex-start, center);
            margin-bottom: 20px;
        }
    }
}