@import 'colors';
@import 'fonts';
@import 'mixin';

.card {
    @include flexbox(row, wrap, space-between, center);
    border-radius: 10px;
    width: 30%;
    margin: 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;

    img {
        max-width: 100%;
        min-width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: auto;
    }

    h3 {
        text-align: start !important;
        width: 100%;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 500;
    }

    .description {
        text-align: start !important;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        font-family: $inter;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    button {
        @include btn(2px solid $ford-blue);
        margin-left: 20px;
        padding: 5px 10px;
        background-color: $white;
        color: $ford-blue;
        margin-bottom: 20px;
    }

    .card-footer {
        width: 100%;
        @include flexbox(row, wrap, space-between, center);
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        font-family: $inter;

        div {
            @include flexbox(row, wrap, flex-start, center);
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 400px) {
    .card {
        width: 100%;
    }
}